@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

#toast-container > div {
  opacity: 1;
}

.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}
